.section-costs {
    background-image: url('../img/grainbackground.png');
    background-repeat: repeat;
    padding: 9.375em 5em 4.6875em 5em; 
    max-width: 100vw;
    min-width: 100vw;
    overflow-x: hidden;
}
.title-costs-container {
    display: flex;
    align-items: flex-start;
}

.title-costs {
    color: rgb(181, 151, 136);
    font-family: Montserrat;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: left;
}
.costs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.container-costs {
    display: flex;
    gap: 1.875em;
}
.cost-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    padding: 1.875em;
    background-color: white;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    margin-top: 3.125em;
    width: 24em;
    height: 17.625em;
    text-align: center;
    border-radius: 1.25em;  
}
.cost-title {
    color: rgb(181, 151, 136);
    font-family: Montserrat;
    font-size: 1.5625em;
    font-weight: 600;
    text-align: center;
    line-height: 1.875em;
}
.price {
    color: rgb(80, 80, 80);
    font-family: Montserrat;
    font-size: 4em;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -2%;
    text-align: center;
}
.duration {
    color: rgb(80, 80, 80);
    font-family: Montserrat;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.875em;
    letter-spacing: 0%;
    text-align: center;
}
.cost-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-button {
    background-color: rgb(181, 151, 136);
    margin-top: 3.125em;
    margin-bottom: 9.375em;
    width: 320px;
    height: 59px;
    border-radius: 10px;
    border-color: transparent;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0px;
    text-align: center;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

@media (min-width: 991px) and (max-width: 1200px) {
    .section-costs{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    
    .costs-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
        .title-costs {
        align-self: self-start;
        }
    
    .container-costs {
        display: flex;
        flex-wrap: nowrap;
        width: 80%;
    }
    .cost-card {
        height: auto;
        
        flex-wrap: nowrap;  
        
    }
}

@media (max-width: 990px) {
    .section-costs{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100wv;
    }
    .costs-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        
    }
    .container-costs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        
    }
    .cost-card {
        width: auto;
    }
    .cost-button-container {
        width: 100%;
    }
    .contact-button {
        width: 100%;
    }
}



@media (max-width: 770px) {
    .section-costs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .costs-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .container-costs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .cost-card {
        width: auto;
    }
}
