@use "../abstracts/variables";

.header__menu {
  background-color: variables.$background-grey;
}

.nav-item__points {
  color: variables.$dark-font;
}

.connection {
  margin-right: 5%;

  .connection__button {
    background-color: variables.$medium-font;
    border: none;
    color: white;
    padding-left: 2em;
    padding-right: 2em;

    .whatsapp-number {
      text-decoration: none;
      color: white;
    }
  }

  .connection__button:hover {
    transform: scale(1.1);
  }

  .connection__button:active {
    background-color: variables.$medium-font;
  }
}

@media screen and (min-width: 992px) {
  .menu {
    margin-left: 3%;
  }
}


