.cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card {
  background-color: rgba(250, 184, 228, 0.918);
  margin: 0.5em;
  width: calc(100%/3);
  outline: 1px solid rgb(193, 125, 223);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
