.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    background-color: #f5f5dc;
}

.container {
    text-align: center;
    // background-color: white;
    // padding: 20px;
    // border-radius: 10px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.play-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, cursor 0.3s;
}

.play-button:hover {
    background-color: #45a049;
    cursor: url('hand-cursor.png'), pointer; /* Поменяй на путь к иконке курсора */
}