.training_box {
    display: flex;
    // flex-direction: column;
    justify-content:center;
    align-items: center;
    color: #B59788;
    // height: 100vh;
    // background-color: #f5f5dc;
}

.training_box__container {
    text-align: center;
    // background-color: white;
    padding-top: 7vw;
    // border-radius: 10px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.training_box__title{
    padding-right: 10vw;
}

.training_box__video{
    padding-top: 2vw;
}

.training_box__button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #B59788;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, cursor 0.3s;
}

.training_box__button:hover {
    background-color: #45a049;
    cursor: url('hand-cursor.png'), pointer; /* Поменяй на путь к иконке курсора */
}
