// .training_box {
//     display: flex;
//     flex-direction: column;
//     justify-content:center;
//     align-items: center;
//     color: #B59788;
//     position: relative;
// }

// .training_box__container {
//     text-align: center;
//     padding-top: 5vw;
//     position: relative;
// }

// .training_box__title{
//     padding-right: 10vw;
//     margin-bottom: 1vw;
// }

// .training_box__video{
//     width: 100%; 
//     max-width: 50vw;
//     padding-top: 2vw;
// }

// .training_box__button {
//     padding: 0.6vw 3vw;
//     font-size: 1vw;
//     background-color: #B59788;
//     color: white;
//     border: none;
//     border-radius: 6px;
//     transition: background-color 0.3s, cursor 0.3s;
// }

// .training_box__button:hover {
//     background-color: rgba(181, 151, 136, 0.8);
//     cursor: pointer;
// }

// .leafs {
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 100%;
//     top: 0; 
// }

// .leafs_up, .leafs_down {
//     width: 100%;
//     max-width: 12vw;
// }

// .custom-btn {
//     background-color: #B59788;
//     color: white;
//     border: none;
// }

/* Контейнер, скрывающий прокрутку */
// .training_container {
//     overflow-x: hidden;
//     max-width: 100%; 
//     width: 100%
// }
// .position-absolute {
//     overflow-x: hidden;
//     width: 100%; 
// }

.btn:hover {
    background-color: #B59788;
    opacity: 0.8; /* Добавление прозрачности */
}

/* Позиционирование листьев */
// .leafs {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     height: 20vw;
//     z-index: -1;
// }

// .leaf_up {
//     position: absolute;
//     left: 0;
//     bottom: 0;
// }

// .leaf_down {
//     position: absolute;
//     left: 0;
//     bottom: -5vw;
// }

/* Ограничение для лепестков */
// .position-absolute {
//     max-width: 100%;  Ограничиваем ширину изображений лепестков 
// }

// .position-absolute {
//     z-index: -1; /* Убедимся, что лепестки не перекрывают другие элементы */
// }